@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html { scroll-behavior: smooth; }

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  padding-top: 90px;
}

main {
  display: block;
  position: relative;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  background-color: #ace2d0;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  font-size: 38px;
  color: currentColor;
  font-family: 'Nanum Pen Script', Arial, Helvetica, sans-serif;
}

.logo span {
  color: red;
  font-family: 'Nanum Pen Script', Arial, Helvetica, sans-serif;
}

.bar {
  display: flex;
  gap: 24px;
  align-items: center;
  list-style: none;
}

.bar li a {
  text-decoration: none;
  font-size: 22px;
  color: black;
  font-weight: 600;
}

.foodSection {
  padding: 0.7rem 1.6rem 1.6rem 1.6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
}

.foodCard {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1rem;
  background-color: antiquewhite;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  align-items: center;
  flex: 1 1 calc(33.333% - 2.5rem);
}

.heart {
  font-size: 26px;
  color: #d79a93;
}

.heart:hover {
  color: red;
  cursor: pointer;
}

.heart:active {
  font-size: 30px;
  color: red;
  transform: scale(1.15);
}

.mealimage {
  height: 350px;
  width: 100%;
}

.comments {
  width: 100px;
  height: 26px;
  border: 2px solid #000;
  box-shadow: 4px 3px 2px #000;
  justify-self: flex-end;
  font-size: 18px;
}

h3 {
  font-size: 32px;
}

.popup {
  display: none;
  position: fixed;
  top: 30px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.commentCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
  background-color: antiquewhite;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  border-radius: 5px;
}

.commentCard .close {
  background-color: red;
  font-size: 1.4rem;
  position: absolute;
  top: 34px;
  right: 5px;
  width: 100px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  padding-right: 25px;
}

.commentCard img {
  height: 400px;
}

.commentCard form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  width: 50%;
}

.commentCard form input {
  border: none;
  padding: 0.7rem;
  border-radius: 10px;
}

.commentCard form textarea {
  padding: 0.7rem;
  border: none;
  border-radius: 10px;
  height: 70px;
}

.comment-box {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 20px;
  border: 2px solid #fff;
  align-items: center;
  max-height: 370px;
  border-radius: 10px;
  padding: 0.5rem;
  gap: 0.4rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.comment-box li {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  border-radius: 10px;
  background-color: #d2c8c8;
  padding: 0.4rem;
}

.comment-box li:nth-child(even) {
  background-color: #ea9494;
  color: #000;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  background-color: aquamarine;
  font-weight: 700;
  padding: 1rem;
}

button {
  color: #fff;
  background-color: #36b37f;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.38;
  padding: 0.75rem;
  border: none;
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.15);
}

button:active {
  background-color: #008552;
}

.blurr {
  filter: blur(6px);
}

.foodDetails {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 2rem;
}

.mealArea {
  display: flex;
  justify-content: space-between;
}

.item-count {
  text-align: center;
  padding-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .navigation {
    padding: 0.5rem;
  }

  .navigation h3 {
    font-size: 28px;
  }

  .navigation ul {
    display: none;
  }

  .foodSection {
    display: block;
  }

  .grid {
    display: flex;
    flex-direction: column;
  }

  footer {
    font-size: 16px;
  }

  .popup {
    width: 90%;
  }

  .commentCard {
    width: 90%;
    padding: 5rem 1rem;
  }

  .commentCard img {
    height: 90%;
    width: 99%;
  }

  .commentCard .close {
    position: absolute;
    top: 15px;
    right: 5px;
    width: 20%;
  }

  .foodDetails {
    width: 100%;
  }

  .commentCard form {
    width: 90%;
  }

  .comment-box {
    width: 100%;
  }
}
